body {
    margin-top: 10px;
    background-color: rgb(103, 103, 134);
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

div {
    text-align: center;

}

span {
    text-shadow: 0 2px 5px black;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}