@font-face {
    font-family: "Apple Kid";
    src: url("Apple-Kid.ttf");
}

body {
    margin-top: 10px;
    background-image: url("https://thumbs.gfycat.com/HospitableFlusteredBittern-size_restricted.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    text-align: center;
}

span {
    font-size: 34px;
    font-family: "Apple Kid";
}

nav, .target-box, .cpu-box {
    background-color: black;
    border-radius: 10px;
    border-color: silver;
    border-style: solid;
    text-align: left;
    color: white;
}

.target-box, .cpu-box {
    margin-bottom: 10px;
    padding-left: 10px;
}

audio {
    padding-top: 10px;
}

#message {
    padding-left: 10px;
}

header {
    margin-left: 10px;
    margin-right: 10px;
}
